/* 
* @Author: Marte
* @Date:   2016-04-19 10:24:51
* @Last Modified by:   Marte
* @Last Modified time: 2016-04-19 18:08:53
*/
/*引用阿里矢量图*/
*{
    padding:0px;
    margin:0px;
}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; list-style:none;}
/* 2.给网站统一字体，字号，字体颜色  */
body{ font-size:14px; color:#666; font-family:"微软雅黑";}
/* 3.针对性把有默认样式的标签同化 */
ul,ol{ list-style:none;}                /* 清除列表默认样式 */
textarea { resize:none; }               
a{ color:#666; text-decoration:none; outline: none;}
a:hover{ color:#80BD00;}

.container{
    width:100%;
    height:auto;
    background-color: white;
}
.header{
    width:100%;
    height:auto;
    background-color: white;
}
.header-center{
    width:1200px;
    margin:0px auto;
    height:60px;
    padding: 20px 0px;
}
.header-left{
    float: left;
    width:500px;
    text-align: left;
    height:60px;
}
.header-right{
    float:right;
    width:600px;
    text-align: right;
    height:28px;
    padding:16px 0px;
}
.header-right img{
    display:inline-block;
    vertical-align: bottom;
    margin-right: 15px;
}
.header-right h2{
    display:inline-block;
    line-height: 28px;
    font-weight: 510;
    color:#d91b1b;
    font-size: 18px;
}
.middle{
    clear:both;
    width:100%;
    height:auto;
}
.middle-one{
    width:100%;
    height:80px;
    background-color: #252830;
}
.one-ul{
    width:1200px;
    height:100%;
    margin:0px auto;
    list-style: none;
}
.one-ul li{
    height:auto;
    display:block;
    float:left;
    padding:31px 40px 24px 40px;
    position: relative;
    text-align: center;
}
.one-ul li a{
    font-size: 18px;
    font-weight: 400;
    color:#c2a512;
    padding-bottom: 5px;
}
.one-ul li a:hover,.one-ul li a:active{
    border-bottom: 1px solid #c2a512;
}
.one-li{
    background-color: #c2a512;
}
.one-ul .one-li a{
    color:white;
}
.one-li-ul{
    /*display:none;*/
    opacity: 0;
    position:absolute;
    top: 83px;
    left:0px;
    text-align: center;
    z-index: 10;
    background-color:#252830 ;
}
.one-li-ul li{
    display:block;
    height:40px;
    padding:0px;
    text-align: center;
    margin:0px;
}
.one-li-ul li a{
    text-decoration: none;
    border:0;
    display:block;
    text-align: center;
    height:32px;
    padding:8px 49px 10px 49px;
    box-sizing: border-box;
}
.one-li-ul li:hover,.one-li-ul li:active{
    background-color: #c2a512 ;
}
.one-li-ul li a:hover,.one-li-ul li a:active{
    border:0;
    color:white;
}
.middle-two{
    width:100%;
    height:460px;
    text-align: center;
    position:relative;
}
.middle-two img{
    opacity:0;
    position:absolute;
    top: 0px;
    left:0px;
}
.middle-two .two-img{
    opacity:1;
}
.middle-three{
    width:100%;
}
.three-center{
    width:1200px;
    margin:0px auto;
    margin-top: 30px;
}
.middle-three img{
    width:100%;
}
.middle-four{
    width:100%;
    height:auto;
    padding:51px 0px 65px 0px;
}
.four-center{
    width:1200px;
    margin:0px auto;
}
.four-center h1{
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    color:#323232;
    width:100%;
    text-align: center;
}
.four-down{
    width:100%;
    height:500px;
}
.four-down div{
    float:left;
}
.four-down-mid{
    width:535px;
    height:100%;
}
.four-down-left,.four-down-right{
    width:331px;
    height:100%;
}
.four-left-ul{
    width:265px;
    padding-left: 62px;
}
.four-left-ul li{
    width:193px;
    min-height: 125px;
    box-shadow: 0px 0px 5px -1px;
    margin-bottom: 43px;
    padding-left: 57px;
    padding-right: 14px;
    position:relative;
    display:block;
    border-radius: 3px;
}
.four-left-ul li:nth-of-type(1){
    height:167px;
}
.four-left-ul li img{
    position:absolute;
    width:50px;
    top: 0px;
    left:7px;
}
.four-li-leftdiv{
    width:208px;
}
.four-li-leftdiv h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    color:#333333;
}
.four-li-leftdiv p{
    color:#333333;
    font-size:14px;
    line-height: 21px;
    font-weight: 400;
}
.four-right-ul{
    width:265px;
    padding-right: 62px;
}
.four-right-ul li{
    width:193px;
    min-height: 125px;
    box-shadow: 0px 0px 5px -1px;
    margin-bottom: 43px;
    padding-left: 57px;
    padding-right: 14px;
    position:relative;
    display:block;
    border-radius: 3px;
}
.four-right-ul li:nth-of-type(3){
    height:167px;
}
.four-right-ul li img{
    position:absolute;
    width:50px;
    top: 0px;
    left:7px;
}
.four-li-rightdiv{
    width:208px;
}
.four-li-rightdiv h2{
    font-weight: 600;
    font-size: 18px;
    line-height:35px;
    color:#333333;
}
.four-li-rightdiv p{
    color:#333333;
    font-size:14px;
    line-height: 21px;
    font-weight: 400;
}
.four-down-mid{
    width:538px;
    height:100%;
}
.middle-five{
    width:100%;
    height:auto;
    margin-bottom: 36px;
}
.five-up{
    width:1200px;
    margin:0px auto;
    height:117px;
}
.five-down{
    width:100%;
    height:249px;
    text-align: center;
}
.middle-six{
    width:100%;
    height:auto;
    background-color: #f6f6f6;
}
.six-center{
    width:1200px;
    margin:0px auto;
    position:relative;
}
.six-up{
    width:0px;
    height:0px;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 39px solid white;
    text-align: center;
    margin:0px auto;
    position:relative;
}
.six-up i{
    position:absolute;
    top: -29px;
    left:-9px;
    font-size: 15px;
}
.six-center h2{
    margin-top: 22px;
    text-align: center;
    color:#323232;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 35px;
}
.six-down{
    width:100%;
    height:502px;
}
.middle-seven{
    width:100%;
    background-color: white;
}
.seven-up,.seven-down{
    width:1200px;
    margin:0px auto;
    text-align: center;
}
.seven-up{
    margin-top: 90px;
    margin-bottom: 65px;
}
.seven-down{
    margin-bottom: 55px;
}
.foot{
    clear:both;
    width:100%;
    height:auto;
}