.mid-r-down {
    opacity: 1;
    min-height: 525px;
}
.r-down-head {
    /* height: 20px; */
    padding: 10px;
}
.r-down-head h3 {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #666;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #eee;
}
.r-down-middle{
    /* min-height: 300px; */
    margin-top: 15px;
}
.r-down-footing{
    margin-top: 30px;
/*     max-height: 350px;
    overflow: auto; */
}
.r-down-footer{
    margin-top: 100px;
}